/* KioskDetails.css */
.kiosk-background{
  background: linear-gradient(135deg, #FFB347, #FFCC33); /* Warm gradient background */
  background-size: cover;
  color: #333; /* Default text color */
}

/*navbar at the top*/
.navbar {
  width: 100%;
  background-color: #333; /* Dark background for contrast */
  color: #fff; /* White text color */
  padding: 15px 0;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  position: fixed; /* Sticks to the top of the page */
  top: 0;
  z-index: 10;
}
 

.kiosk-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .kiosk-details {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  
  .kiosk-details h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .kiosk-details p {
    font-size: 1.2rem;
    color: #555;
    margin: 10px 0;
  }
  